:root {
    --theme-color: #7dc855;
    --border-color: #e1e8ee;
    --tab-color: #bdc6cf;
    --tab-active-color: #358ed7;
    --text-color: #5e6977;
    --desc-color: #86939e;
    --white: #f2f2f2f;
}

